# Cloudflare Pages configuration
name = "read-the-text"
compatibility_date = "2025-11-18"
pages_build_output_dir = "./dist"

# D1 Database binding
[[d1_databases]]
binding = "read_the_text_db"
database_name = "read-the-text-db"
database_id = "d2787818-d467-449c-bce7-a5473e703841"

# R2 Bucket binding
[[r2_buckets]]
bucket_name = "read-the-text-storage"
binding = "read_the_text_storage"
